.fc .fc-daygrid-event-harness {
  width: 100%;
  min-width: 100%;
  height: 100%;
}

.fc .fc-daygrid-event,
.fc a.fc-daygrid-event {
  background-color: #742ee5cd !important;
  color: white !important;
  z-index: 6;
  height: calc(100% - 2px);
  padding: 0;
}

.fc-event-title {
  width: 100%;
  overflow-wrap: break-word;
  white-space: break-spaces;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.custom-event {
  width: 100%;
  padding: 4px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.event-content {
  padding: 0.5rem 0.4rem;
  max-width: 300px;
  width: max-content;
  border-radius: 5px;
  background-color: #fdfeed;
  color: #242424;
  white-space: pre-line;
  word-wrap: break-word;
  font-weight: 400;
  line-height: 1.2;
}

.event-arrow {
  fill: #edf6fe;
}