.fc-customMultiMonth-view,
.fc-view,
.fc-multimonth,
.fc-multimonth-multicol,
.fc-multimonth-compact {
  overflow: visible;
  position: relative !important;
  border: 0px !important;
  background-color: white;
  border-radius: 4px;
}

a {
  color: #737373 !important;
  font-size: 0.65rem;
}

.fc .fc-col-header-cell.fc-day {
  background-color: #000000;
}

.fc .fc-col-header-cell.fc-day a {
  color: white !important;
  font-size: 0.85rem;
}

.fc .fc-multimonth-header,
.fc .fc-col-header-cell-cushion {
  text-transform: capitalize !important;
}

.fc .fc-daygrid-day-events {
  display: flex;
  min-width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  padding: 0;
  margin: 0;
}

.fc .fc-daygrid-body-balanced .fc-daygrid-day-events {
  left: 0px;
  position: absolute;
  right: 0px;
  height: 100%;
  top: 0;
}

.fc .fc-daygrid-event-harness {
  width: 100%;
  min-width: 100%;
  height: 100%;
}

.fc .fc-daygrid-event,
.fc a.fc-daygrid-event {
  background-color: #742ee5cd !important;
  color: white !important;
  z-index: 6;
  height: calc(100% - 2px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.custom-event {
  width: 100%;
  padding: 4px;
}

.fc-event-title {
  width: 100%;
  overflow-wrap: break-word;
  white-space: break-spaces;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  overflow: hidden;
}