.fc-customMultiMonth-view,
.fc-view,
.fc-multimonth,
.fc-multimonth-multicol,
.fc-multimonth-compact {
  overflow: visible !important;
  position: relative !important;
  border: 0px !important;
  background-color: white;
  border-radius: 4px;
}

a {
  color: #737373 !important;
  font-size: 0.65rem;
}

.fc .fc-col-header-cell.fc-day {
  background-color: #000000;
}

.fc .fc-col-header-cell.fc-day a {
  color: white !important;
  font-size: 0.85rem;
}

.fc .fc-multimonth-header,
.fc .fc-col-header-cell-cushion {
  text-transform: capitalize !important;
}

.fc .fc-daygrid-day-events {
  display: flex;
  min-width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  padding: 0;
  margin: 0;
}

.fc .fc-daygrid-body-balanced .fc-daygrid-day-events {
  left: 0px;
  position: absolute;
  right: 0px;
  height: 100%;
  top: 0;
}