.qrContainer {
  margin: 1rem auto 0 auto;
  background-color: #30BF39;
  max-width: 200px;
  text-align: center;
  font-weight: 700;
  border-radius: 4px;
  gap: 1rem;
  padding-top: 0.25rem;
}

.qrCode {
  margin-top: 0.25rem;
  width: 100%;
  /* width: 7rem;
  height: 7rem; */
  margin-right: 1rem;
}

.container {
  background-color: rgb(30, 30, 30);
  color: rgb(225, 225, 225);
  padding: 1rem;
  font-weight: 300;
  text-align: start;
  height: fit-content;
  border-radius: 4px;
  font-size: 1rem;
}

li {
  margin-top: 0.5rem;
}

ol {
  padding-left: 1.25rem;
  margin-bottom: 0;
}

@media (max-width:375px) {
  .container {
    font-size: 12px;
  }
}