.container {
  background-color: rgb(30, 30, 30);
  color: rgb(225, 225, 225);
  padding: 1rem;
  font-weight: 300;
  text-align: start;
  height: fit-content;
  border-radius: 4px;
  font-size: 1rem;
}

li {
  margin-top: 0.5rem;
}