/* .eventItemContainer {
  margin-bottom: 2rem;
} */
.card {
  /* min-height: 500px; */
  max-height: 500px;
  min-height: 100%;
}

.cardBody {
  padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
  position: relative;
  bottom: 0;
}

.dFlex {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

h3 {
  margin: 0;
  font-size: 1.5rem;
}

.flexColumn {
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.imageContainer {
  min-height: 200px;
  height: 100%;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  flex: 1;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fitImage {
  height: 100%;
  min-height: 100%;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
}

.itemDescription {
  /* margin: 0; */
  font-size: 0.80rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.button {
  font-size: 0.8rem;
  background-color: rgb(42, 42, 42);
}